.dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .dog {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid #5c00b9;
  }

  .form-control {
    display: block;
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dogForm {
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

fieldset {
    border: none;
}

.ownerSelect {
 width: 35%;
}

.form-control {
    margin: 0 auto;
}
.dogForm__title {
    text-align: center;
}
